html {
    scroll-behavior: smooth
}

body {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    margin: 0px;
    color: white;
}

/* Navbar */

nav {
    background-color: rgba(71, 39, 26, 0.75);
    display: flex;
    height: 7em;
    max-height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0em 17.3em 0em 10em;
    margin: 0px;
}

nav h1 {
    color: white;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav a {
    background-color: rgba(231, 86, 28, 0.5);
    padding: 1em 2em 1em 2em;
    margin: 2em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: linear 0.25s;
}

nav a:hover {
    background-color: rgb(231, 86, 28);
}

/* Header */

#hero {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.637);
}

#hero img,
#header-hero-text {
    margin-top: -10vh;
}

#header-hero-text {
    margin-left: 2em;
    text-align: left;
}

#avatar {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

#chevron {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10vh;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 2em;
}

/* Background Image */

header {
    height: 100vh;
    background-image: url("../img/screenwithcode.jpg");
}

/* Main */

main {
    background-color: black;
}

/* Portfolio Grid */

#portfolio-grid {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    height: 100%;
    align-items: center;
    height: 75vh;
    margin: 0px 15em 0px 15em;
}

#portfolio-grid h1 {
    font-size: 75px;
}

.grid-item {
    text-align: left;
}

#portfolio-samples img {
    width: 640px;
    border-radius: 10px;
}

#portfolio-samples div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#portfolio-samples {
    display: flex;
    justify-content: right;
}

#portfolio-samples a {
    margin-top: 50px;
    border-radius: 10px;
    border: none;
    padding: 1em 2em 1em 2em;
    background-color: rgba(231, 86, 28, 0.5);
    text-decoration: none;
    color: white;
    text-align: center;
    transition: linear 0.25s;
}

#portfolio-samples a:hover {
    background-color: rgb(231, 86, 28);
    cursor: pointer;
}

#portfolio-bg {
    background-color: rgba(0, 0, 0, 0.85);
    transform-style: preserve-3d;
    overflow-y: auto;
    perspective: 2px;
}

#portfolio-container {
    background-image: url("../img/portfoliobg.png");

}

/* About Me */

#aboutme {
    background-image: url("../img/roundvalley.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#aboutme h1 {
    font-size: 50px;
}

#aboutme-bg {
    background-color: rgba(0, 0, 0, 0.50);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}